/*

TemplateMo 560 Astro Motion

https://templatemo.com/tm-560-astro-motion

*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html,
body,
.page-container {
    height: 100%;
}

body {
    font-family: "Inconsolata", "Fira Sans", monospace, sans-serif !important;
    font-size: 19px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #fcfcfc !important;
    line-height: 1.5 !important;
    max-width: 100vw !important;
    box-sizing: border-box !important;
}

a {
    color: #9F6;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer a {
    color: #9F6 !important;
    text-decoration: none;
    transition: all 0.3s ease;
}
.footer a:hover {
    color: #3CF !important;
}

.content-pad a {
    color: #9F6 !important;
    text-decoration: none;
    transition: all 0.3s ease;
}

.content-pad a:hover {
    color: #3CF !important;
}

.content-pad ul {
    display: flex;
    justify-content: space-between;
    padding: 0
}

a:hover {
    color: #3CF;
}

p {
    line-height: 1.7;

}

.account-name p {
    word-break: break-all;
}

h2 {
    font-family: "Space Mono", monospace;
    font-size: 1.8rem;
}

.social-image {
    height: 3rem;
    width: 3rem;
}

.highlight {
    color: #99FF66;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-fluid {
    max-width: 1860px;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    align-items: baseline;
}

.btn {
    font-size: 1.3rem !important;
    padding: 13px 23px !important;
    border-radius: 2px 0 2px 0 !important;
}

.btn-primary {
    background-color: #fcfcfc !important;
    border: none !important;
    color: #333 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #5cac38 !important;
    background-color: #fcfcfc !important;
}

/* Style the video: 100% width and height to cover the entire window */
#bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-image: url(../img/tm-astro-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#tm-nav {
    z-index: 1000;
}

.navbar a {
    color: #fcfcfc;
}

.navbar-brand {
    font-size: 2.4rem !important;
    color: #fcfcfc !important;
}

.navbar {
    margin-top: 15px;
}

.navbar .navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
    padding: 15px 65px;
    border-bottom: 1px solid #fcfcfc;
}

.nav-item {
    position: relative;
}

.circle {
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: #fcfcfc;
    border-radius: 50%;
}

.tm-border-bottom {
    border-bottom: 1px solid #fcfcfc;
    padding-bottom: 48px;
}
.line{
    border-bottom: 1px solid #fcfcfc;
    padding-top: 12px;
}

.tm-border-top {
    border-top: 1px solid #fcfcfc;
    padding-top: 48px;
}

.navbar .navbar-nav .nav-item.selected .nav-link,
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #99FF66;
    border-bottom: 1px solid #99FF66;
}

.cd-slider-nav li.selected a+.circle,
.navbar .navbar-nav .nav-item .nav-link:hover+.circle {
    background-color: #99FF66;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    border: 1px solid rgba(212, 212, 212, 1) !important;
    ;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.tm-link-white {
    color: #fcfcfc;
}

.tm-link-white:hover,
.tm-link-white:focus {
    color: #99FF66;
}

.cd-hero-slider {
    padding: 10px 0;
}

.cd-hero-slider li {
    list-style: none;
}

.content-pad {
    padding: 40px 30px;
}

.page-width-1 {
    max-width: 810px;
}

.page-width-2 {
    min-width: 912px;
}

.page-width-3 {
    max-width: 1398px !important;
}

.page-left {
    margin-left: 100px;
}

.page-right {
    margin-right: 100px;
    margin-left: auto;
}

.page-center {
    margin-inline: auto;
}

.tm-bg-dark {
    background-color: rgba(12, 12, 12, 0.5);
    border-radius: 30px 0 30px 0;
    box-shadow: inset 0 0 30px #c6fcabaf;
}

.tm-bg-dark-l {
    background-color: rgba(12, 12, 12, 0.5);
    border-radius: 30px 0 0 0;
    box-shadow: inset 10px 0 30px #c6fcabaf;
}

.tm-bg-dark-r {
    background-color: rgba(12, 12, 12, 0.5);
    border-radius: 0 0 30px 0;
    box-shadow: inset -10px 0 30px #c6fcabaf;
}

.tm-bg-dark-a {
    background-color: rgba(12, 12, 12, 0.5) !important;
    border-radius: 30px;
}

.tm-bg-dark-n {
    background-color: rgba(12, 12, 12, 0.8) !important;
    border-radius: 2px;
}

.intro-left {
    margin-right: 20px;
    padding: 30px 40px;
    max-width: 505px;
}

.presale-container {
    min-height: 70vh;
    display: grid;
    place-items: center;
    position: relative;
}

.wallet-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    z-index: 10000;
}

.wallet-modal {
    background-color: #fcfcfc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-block: 1rem;
    display: grid;
    place-items: center;
    grid-auto-rows: 1fr;
}

.provider-button {
    width: 100%;
    height: 100%;
}

.provider-button:hover {
    background: #c6fcabaf !important;
}

.intro-img-1 {
    margin-bottom: 0px;
}

.intro-img-1 {
    animation: loop 4s infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

@keyframes loop {
    0% {
        transform: translateY(0%) scale(1.01);
    }

    25% {
        transform: translateY(2%) scale(1.03);
    }

    50% {
        transform: translateY(0%) scale(1.01);
    }

    75% {
        transform: translateY(-2%) scale(0.99);
    }

    100% {
        transform: translateY(0%) scale(1.01);
    }
}

.intro-circle-1 {
    left: -20px;
    top: -10px;
}

.intro-circle-2 {
    right: -20px;
    top: -10px;
    left: auto;
}

.intro-circle-3 {
    right: -20px;
    bottom: -10px;
    left: auto;
}

.intro-circle-4 {
    left: -20px;
    bottom: -10px;
}

.tm-intro-btn {
    margin-top: 25px;
}

.tm-footer {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Gallery page */
.gallery-container {
    max-width: 1300px;
}

.tokenomics-container {
    height: 70vh;
    display: grid;
    place-items: center;
}

.slick-dots {
    bottom: -80px;
}

.gallery-slider figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    max-width: 480px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.gallery-slider figure img {
    position: relative;
    display: block;
    min-height: 150%;
    max-width: 150%;
}

.gallery-slider figure figcaption {
    padding: 1em;
    color: #fcfcfc;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gallery-slider figure figcaption::before,
.gallery-slider figure figcaption::after {
    pointer-events: none;
}

.gallery-slider figure figcaption,
.gallery-slider figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.gallery-slider figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.gallery-slider figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 28px;
}

.gallery-slider figure h2 span {
    font-weight: 800;
}

.gallery-slider figure h2,
.gallery-slider figure p {
    margin: 0;
}

.gallery-slider figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

.gallery-section {
    background-color: #99ccff;
}

.gallery-section .title {
    padding-right: 13px;
    margin-bottom: 80px;
}

.tokenomics-grid-container {
    max-width: 1180px;
    min-height: 450px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
}

.item {
    display: flex;
    flex-direction: column;
}

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
    background: #FFFFFF00;
    position: relative;
    overflow: hidden;
}

figure.effect-julia img {
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-julia figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 0;
    display: flex;
    align-items: center;
    padding: 1rem;
}

figure.effect-julia:hover figcaption {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-julia h2 {
    position: relative;
    padding: 0.5em 0;
}

figure.effect-julia p {
    display: inline-block;
    margin: 0 0 0.25em;
    padding: 0.4em 1em;
    background: rgba(255, 255, 255, 0.9);
    color: #2f3238;
    text-transform: none;
    font-weight: 500;
    font-size: 75%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0);
}

figure.effect-julia p:first-child {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.effect-julia:hover img {
    opacity: 0.4;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

figure.effect-julia:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* About page */
.tm-about-container {
    border-top: 1px solid #fcfcfc;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #fcfcfc;
}

/* Contact page */
.tm-contact-left {
    padding-block: 2rem !important;
    padding-inline: 1rem !important;
    display: grid;
    place-items: center;
    gap: 2rem;
}

.tm-contact-right {
    padding-block: 2rem !important;
    padding-inline: 1rem !important;
}

.countdown-container {
    display: grid;
    place-items: center;
    padding: 0.35rem;
    border: 2px solid rgba(212, 212, 212, 1);
}

.countdown-container p {
    font-size: 1.5rem;
    margin: 0;
}

.countdown {
    font-family: "Space Mono", monospace;
    text-align: center;
    display: grid;
    place-items: center;
    border: 2px solid rgba(212, 212, 212, 1);
    height: 3rem;
    width: 20rem;
}

.form-control {
    font-size: 1.2rem !important;
    padding: 15px 0 !important;
}

.form-control,
.form-control:focus {
    color: #fcfcfc !important;
    background-color: transparent !important;
}

.form-control:focus {
    border-bottom: 1px solid #99FF66 !important;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control::-webkit-input-placeholder {
    color: #fcfcfc !important;
}

.form-control:-moz-placeholder {
    color: #fcfcfc !important;
}

.form-control::-moz-placeholder {
    color: #fcfcfc !important;
}

.form-control:-ms-input-placeholder {
    color: #fcfcfc !important;
}

.tm-mb-30 {
    margin-bottom: 30px;
}

.tm-mb-45 {
    margin-bottom: 45px;
}

.tm-btn-pad-2 {
    padding: 10px 38px;
}

.map-outer {
    position: relative;
}

.gmap-canvas {
    overflow: hidden;
    background: none !important;
}

.map-outer,
.gmap-canvas {
    height: 200px;
    width: 100%;
}

.tm-footer-right {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.footer-text {
    padding-left: 2rem !important;
}

.ktg-test-wrap{
    display: grid;
    position: relative;
    padding: 2rem;
}
.ktg-test-wrap .btn-primary{
    background: rgba(255, 255, 255, 0.8) !important;
}
.ktg-test-wrap .close-button{
    position: absolute;
    border-radius: 20px;
    background: #fcfcfc;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 3rem;
    border: 0;
}
.close-button:hover, 
.close-button:focus{
    color: #f07c47;
    background-color: #fcfcfc;
    border: 1px solid #f07c47;
}
.check-balance{
    display: grid;
    width: 100%;
    justify-items: center;
}
.check-balance-wrap{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: first baseline;
    margin-block: 2rem;
}
.check-balance button{
    background: #fcfcfc;
    color: #121212;
}
.form-input{
    display: grid;
    place-items: top;
}
.send-tokens{
    display: grid;
    place-items: center;
    gap: 1rem;
    padding-block: 1rem ;
}
.select-wrap{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    gap: 2rem;
}
.receiver-textbox {
    min-height: 5rem;
    height: auto;
}
.ktg-test-wrap select,
.ktg-test-wrap input,
.ktg-test-wrap textarea {
    background: transparent;
    height: 3rem;
    width: 100%;
    border: 1px solid #f07c47;
    color: #fcfcfc;
}
.ktg-test-wrap select:focus{
    outline: none;
    background: rgba(12, 12, 12, 0.8);
}
.ktg-test-wrap .btn-secondary {
    background: #f07c47;
    color: #fcfcfc;
    border-radius: 5px 0 10px 10px !important;
    padding-block: 0.5rem !important;
}
.custom-token-input {
   display: grid;
   gap: 0.3rem;
} 
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}

@media(max-width: 1290px){
    .tokenomics-container{
        height: auto;
    }
    .page-container{
        height: auto;
    }
}

@media (max-width: 1200px) {
    .navbar .navbar-nav .nav-item .nav-link {
        padding: 15px 45px;
    }
}

@media (max-width: 1024px) {
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 1.2rem;
    }
}

@media (max-width: 992px) {
    .navbar {
        margin-top: 0;
    }

    .navbar {
        position: relative;
    }

    .navbar-collapse {
        position: absolute;
        top: 63px;
        right: 0;
        background: rgba(54, 75, 96, 0.85);
        border-radius: 5px;
        padding-top: 1rem;
    }

    .navbar .navbar-nav .nav-item {
        margin-bottom: 20px;
    }

    .page-left,
    .page-right {
        margin-left: auto;
        margin-right: auto;
    }

    .page-width-2 {
        min-width: 0;
    }

    .cd-hero-slider {
        padding: 10px 0;
    }
}

@media (max-width: 834px) {
    .intro-left {
        width: 65%;
    }

    .intro-right {
        width: 35%;
    }

    .content-pad ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem
    }
}

@media (max-width: 767px) {
    .tm-contact-left {
        padding-right: 15px;
        margin-bottom: 0px;
    }

    .tm-footer-right {
        text-align: left;
        margin-top: 10px;
        flex-direction: row;
        justify-content: center;
    }

    .tm-footer {
        gap: 2rem;
        text-align: center;
    }
}

@media (max-width: 600px) {

    .intro-left,
    .intro-right {
        width: 100%;
    }

    .intro-left {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: none;
        padding-inline: 1rem;
    }

    .intro-right {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .intro-container {
        flex-direction: column;
    }

    .intro-img-1 {
        margin-right: 4%;
        margin-bottom: 0;
        width: 48%
    }

    .intro-img-2 {
        width: 48%;
    }

    .tokenomics-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Preloader 
	https://ihatetomatoes.net/create-custom-preloading-screen/
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 2001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@keyframes spin {
    0% {
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 2000;
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}

/*============ Preloader ends ==================================*/